*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-section {
    background-image: url(../img/vegetables-prepared-baking-white-bowl-white-background_633696-49.webp);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}

#contact-section {
    background-image: url(../img/howcuttingdo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}