*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero-section {
    background-image: url(../img/hero-bg\ \(1\).jpg);
    background-size: cover;
    height: 100vh;
}

.restaurant {
    margin-top: 200px;
    margin-left: 90px;
}

#about-section  {
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.chosen {
    background-color: rgb(43, 42, 42);
}

#events-section{
    background-image: url(../img/events-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}


/*.bg-gradient {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }*/